body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  background-color: #181c21;

}


h1 {
  margin: calc(10px + 2vmin);

  font-size: calc(10px + 2vmin);
  align-content: flex-start;
}

.synthContainer {
  margin-top: 25vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  scale: 2;

}

.parameter {
  box-sizing: border-box;
  width: 9em;
  /* Set a fixed width or adjust as needed */
  overflow: hidden;
  /* Hide overflow content */
  white-space: nowrap;
  /* Prevent text from wrapping */
  text-overflow: ellipsis;
  /* Show ellipsis (...) for overflow text */

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

[class*="StyledCheckBox"] {
  border-color: white !important;
  margin-right: .5px;


}


@media screen and (max-width: 600px) {
  .synthContainer {
    margin-top: 1vh;
    display: flex;
    flex-wrap: nowrap;
    align-items: baseline;
    scale: 1;
    justify-content: flex-end;
    flex-direction: column;
  }
}