body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  color: white;
  background-color: #181c21;
}


h1 {

  font-size: calc(10px + 2vmin);
  text-align: left
}

.synthContainer {
  margin-left: 2em;
  display: flex;
  flex-direction: column;
}

/* Remove Grommet defaults */
.sequencer input[type="checkbox"] {
  appearance: none;

  background-color: rgba(255, 255, 255, 0.143);
  border: none;
  width: 24px;
  height: 24px;
  margin: 2.5px;
  margin-bottom: -3px;
  padding-bottom: 0px;
  cursor: pointer;
  display: inline-block;
  transition: all 0.1s ease-in-out;
}

/* Active step visual (checked) */
.sequencer input[type="checkbox"]:checked {
  background-color: white;
  /* border: 1px solid black; */
}

.sequencer input[type="checkbox"]:hover {
  border: white solid;
}




.parameter {
  box-sizing: border-box;
  width: 4em;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@media screen and (max-width: 600px) {
  .synthContainer {
    margin-top: 1vh;
    display: flex;
    flex-wrap: nowrap;
    align-items: baseline;
    scale: 1;
    justify-content: flex-end;
    flex-direction: column;
  }
}